<h3 class="text text-light name text-center">
    Brayan Javier Gomez
</h3>

<div class="img" id="presentation">

    <img src="assets/img/foto.png" alt="" class='border rounded-pill border-info border-2'>

</div>

<br>

<div class="presentacion">
    <div class='text text-center container-xl border border-4'>

        <p class="text text-light text-center fs-5">
            Systems technician with experience developing in JavaScript language under fameworks such as nodeJs and angular; css, html, boostrap, with great interest in working as a Web developer, as well as a responsible, punctual, creative and self-taught person
            with the ability to work in a team.
        </p>
    </div>
</div>


<br>
<br>

<div class="title " id="projects">
    <h1>
        Projects

    </h1>
</div>
<hr class="text-light">

<div class="container container-fluid">
    <div class="row ">
        <div class="col ">

            <div class="card">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <h2>01</h2>
                    <h3>Covid-19 Map</h3>
                    <p>This application allows you to see the most recent Covid-19 indices on the map, it should be clarified that it currently only allows the US provinces.</p>
                    <a href="https://github.com/Brayan-Javier-Gomez/covid_map" target="_blank">
                        <i class="fab fa-github">
                        </i> Repo
                    </a>
                    <a href="https://app-covid-map.herokuapp.com/#/home" target="_blank"><i class="fas fa-gamepad" ></i>Demo</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col">

        <div class="card">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <h2>02</h2>
                <h3>Hotel Manager</h3>
                <p>
                    This application allows you to create reservations for hotel rooms..</p>
                <a href="https://github.com/Brayan-Javier-Gomez/hotel_project" target="_blank">
                    <i class="fab fa-github ">
                    </i>Repo</a>
                <a href="https://hitman-hotel.herokuapp.com/#/dashboard" target="_blank"><i class="fas fa-gamepad"></i>Demo</a>
            </div>
        </div>
    </div>

    <div class="col">

        <div class="card ">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content ">
                <h2>03</h2>
                <h3>Fire Chat</h3>
                <p>
                    This chat was created using angular, firebase and google authentication.</p>
                <a href="https://github.com/Brayan-Javier-Gomez/chat_with_firebase" target="_blank">
                    <i class="fab fa-github ">
                    </i> Repo</a>
                <a href="https://granados-chat.herokuapp.com/" target="_blank">
                    <i class="fas fa-gamepad"></i> Demo
                </a>
            </div>
        </div>
    </div>
</div>

<div class="title" id="skills">
    <h1>
        Skills

    </h1>
</div>


<br><br>


<div class="row text-light">
    <hr class="text-light">
    <div class="col">
        <img src="assets/img/angular.png" alt="Logo de angular" class="img-fluid moving">
    </div>
    <div class="col">
        <img src="assets/img/node.png" alt="Logo de nodeJS" class="img-fluid moving">
    </div>
    <div class="col">
        <img src="assets/img/mongo.png" alt="Logo de nodeJS" class="img-fluid moving">
    </div>
    <div class="col">
        <img src="assets/img/html.png" alt="Logo de nodeJS" class="img-fluid moving">
    </div>
    <div class="col">
        <img src="assets/img/css.png" alt="Logo de CSS" class="img-fluid moving">
    </div>
    <div class="col">
        <img src="assets/img/js.png" alt="Logo de CSS" class="img-fluid moving">
    </div>

</div>
<hr class="text-light">
<br>
<br>
<div class="title" id="contact">
    <h1>
        Contact

    </h1>
</div>
<hr class="text-light">

<br><br><br>

<div class="row">
    <div class="col text-center">
        <i class="fas fa-at fa-2x text-success ">email

        </i>
        <p class="text-light">brayanjaviergomez.g@gmail.com </p>
    </div><br>

    <div class="col text-center">
        <i class="fas fa-mobile-alt fa-2x text-success ">Phone

        </i>
        <p class="text-light ">3507963079 </p>
    </div><br>
    <div class="col text-center">
        <i class="fab fa-linkedin fa-2x text-success ">LinkedIn
            
            
        </i>
        <br>
        <a href="https://www.linkedin.com/in/brayan-javier-gomez-garcia-44a8191a7/" target="_blank">Perfil</a>
    </div>
</div>
<br>
<br>
<br>