<div class="container-fluid animate__animated animate__fadeInLeft">

    <div class="row align-items-start justify-content-center">
        <div class="col-xl-6 col-md-6 col-sm-12 pl-xl-5">
            <div class="name pl-5 pb-1">
                <p>
                    Brayan<br> Gomez
                </p>

            </div>
            <div class="sub">
                <p>
                    Web developer
                </p>
            </div>
            <div class="ml-5">
                <button class="btn btn-outline-warning ml-5" title="ver CV">
                    <a href="assets/pdf/cv.pdf" target="_blank" class="text-warning text-decoration-none" title="ver CV">Ver Curriculum</a>
                </button>
            </div>
        </div>
        <div class="col-sm text-center animate__animated animate__zoomIn">
            <p class="home-image pt-3 pr-5">
                <img src="assets/img/971.jpg" alt="computadora animada" title="imagen animada">
            </p>
        </div>
    </div>


</div>