<div class="container-fluid">


    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-light ml-sm-5 ml-xl-2 pt-3 pl-2" href="/" title="Portafolio">Portafolio</a>
            <button class="navbar-toggler btn-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <div class="navbar-nav ml-auto py-3 px-sm-5 pl-5 ">

                    <a class="nav-item nav-link mx-3 text-light" routerLink='/portafolio/home' title="Home">Home</a>
                    <a class="nav-item nav-link mx-3 text-light" routerLink='/portafolio/proyectos' title="proyectos">Proyectos</a>
                    <a class="nav-item nav-link mx-3 text-light" routerLink='/portafolio/skills' title="habilidades">Habilidades</a>
                    <a class="nav-item nav-link mx-3 text-light" routerLink='/portafolio/contacto' title="contacto">Contacto</a>

                </div>



            </div>
        </div>
    </nav>

</div>