<div class="animate__animated animate__fadeInLeft">

    <div class="container mx-sm-auto">

        <div class="mt-5 pb-4 pt-5">


            <div class="row">
                <div class="col-xxl col-sm col-md text-center">
                    <div class="card mb-3 fondo text-white" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="assets/img/covid-map.PNG" class="img-thumbnail" alt="demo covid" title="demo covidMap">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Mapa indicador de covid-19</h5>
                                    <div>
                                        <a href="https://app-covid-map.herokuapp.com/#/home" target="_blank" class="text-light">
                                            <i class="fas fa-gamepad fa-2x mr-2" title="Demostracion">
                                            </i>
                                        </a>
                                        <a href="https://github.com/Brayan-Javier-Gomez/covid_map" target="_blank" class="text-light">
                                            <i class="fab fa-github fa-2x ml-2" title="repositorio">
                                            </i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl col-sm col-md text-center">
                    <div class="card mb-3 fondo text-white" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="assets/img/chat.PNG" class="img-thumbnail" alt="demo chat" title="demo chat">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Chat con firebase</h5>

                                    <div>
                                        <a href="https://granados-chat.herokuapp.com/" target="_blank" class="text-light">
                                            <i class="fas fa-gamepad fa-2x mr-2" title="Demostracion">
                                            </i>
                                        </a>
                                        <a href="https://github.com/Brayan-Javier-Gomez/chat_with_firebase" target="_blank" class="text-light">
                                            <i class="fab fa-github fa-2x ml-2" title="repositorio">
                                            </i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

            <div class="row text-center align-content-center bg-dark">
                <div class="col-xxl col-sm col-md">
                    <div class="card mb-3 text-white fondo" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="assets/img/hotelScreen.png" class="img-thumbnail" alt="demo hotel" title="demo HotelAdmin">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Admin de hotel</h5>
                                    <div>
                                        <a href="https://hitman-hotel-project.herokuapp.com/" target="_blank" class="text-light">
                                            <i class="fas fa-gamepad fa-2x mr-2" title="Demostracion">
                                            </i>
                                        </a>
                                        <a href="https://github.com/Brayan-Javier-Gomez/hotel_project" target="_blank" class="text-light">
                                            <i class="fab fa-github fa-2x ml-2" title="repositorio">
                                            </i>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>