<footer class="text-center text-lg-start align-items-center">

    <!-- Linkedin -->
    <a class="btn btn-link btn-floating btn-lg text-warning m-1" href="https://www.linkedin.com/in/brayan-javier-gomez-garcia-44a8191a7/" target="_blank" role="button" data-mdb-ripple-color="dark" title="LinkedIn">
        <i class="fab fa-linkedin fa-2x">

     </i>
    </a>

    <!-- Github -->
    <a class="btn btn-floating m-1 text-warning" href="https://github.com/Brayan-Javier-Gomez" target="_blank" role="button"><i class="fab fa-github fa-2x" title="GitHub"></i
      ></a>
    <!-- Copyright -->
</footer>