/* footer {
    color: rgb(0, 4, 255);
    position: fixed;
    bottom: 0px;
    background-color: blue;
    margin-bottom: 0;
    margin-top: 0;
} */

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}